* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;

}

@media screen and (min-width: 576px) {}

/* HEADERMAIN */
.headermain {
        background: rgb(99, 89, 89);
        
        
       
    }

    .number {

        border: solid grey;
        background-color: orange;
        height: 1.4cm;
        width: 3cm;
        overflow: hidden;
        text-align: center;

    }

    .fa-mobile-alt {
        padding-right: 5px;
    }

    .icons {

        padding: 10px;
        width: 5cm;
        margin-left: 60%;
        text-align: center;
    }

    .fa-home {

        color: green;
    }

    .fa-whatsapp {
        color: green;
    }

    /* END OF HEADERMAIN */



   
    /* START NAV BAR */
    
    .practice {
        box-sizing: border-box;
        text-align: center;
        margin: 1cm;
        
    }

    .practice div {
        width: 70px;
        height: 40px;
        padding-top: 10px;
        cursor: pointer;
        text-align: center;
        display: inline-block;
        overflow: hidden;
        transition-property: all, border-radius;
        transition-duration: 3s, 2s;


    }

    .practice div:hover {
        border-radius: 60%;
    }


    .Paella{
        
        background-color: rgb(238, 222, 222);
        transform: scaleX(0.9);
    }

    
    .Carta {
        background-color: rgb(238, 222, 222);
        transform: scaleY(0.8);

    }

    .Nosotros {
        background-color: rgb(238, 222, 222);
        transform: scaleY(0.8);
    }

    .Catering {

        background-color: rgb(238, 222, 222);
                transform: scaleX(0.9);
    }


    .Presupuesto {
        background-color: rgb(238, 222, 222);
        transform: scaleY(0.8);
    }


    .Contacto {

        background-color: rgb(238, 222, 222);
                transform: scaleY(0.8);

    }

    .Galeria {
        background-color: rgb(238, 222, 222);
        transform: scaleX(0.9);

    }



    
    

/* END OF  NAV BAR */





/* contacta con nosotros */

#secontact{
    height: 100vh;
    overflow: hidden;
}


.contacttt{
    background: url(./imagenes/contactuno.jpg) right/cover no-repeat fixed;
    
}




/* end of contacta con nosotros */






/* DATOS DEL CONTACTO Y SIGUENOS */


   

    .onebox {
       
        border: solid yellow 2px;
        text-align: center;
        width: 400px;
        height: 250px;
        cursor: pointer;
    }

    .twobox {

        border: solid yellow 2px;
        text-align: center;
        width: 400px;
        height: 250px;
        cursor: pointer;


    }

 
/* end  DATOS DEL CONTACTO Y SIGUENOS */









    .eventoDETAILS1 {
        margin-top: 0cm;
        background: linear-gradient(rgba(253, 253, 253, 0.7), rgba(0, 0, 0, 0.9)),
            url(imagenes/paella9.jpg) center/cover fixed no-repeat;
        min-height: 100vh;
        background-color: rgb(66, 66, 53);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2cm;

    }

    .realitve0 {
        color: white;
        font-size: 1cm;

    }






    .detailsevent {

        width: 100%;
        background-color: white;

    }








    /* Contacto */

.contact{
    background: chocolate;
}


.pre {
    width: 6cm;
    height: 1cm;
    background: black;
    border-radius: 5%;
    overflow: hidden;
}

.pre:hover {
    border: solid 0.2px grey;
    background-image: linear-gradient(chocolate, rgb(250, 172, 28), rgb(255, 208, 119), rgb(243, 224, 189));
    color: black;
}


/* End of Contacto */

































    /*FOOTER */


    .Ffooter {
        background: rgb(99, 89, 89);  
        color: white; 
       
    }