 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Inconsolata', monospace;
    
    }


    @media screen and (min-height:576px){}




    




/* HEADER */


#headermain {
    background: rgb(99, 89, 89);   
   
}


 #headermain::after {  
    position: relative;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  }

  

  


.number {

    border: solid grey;
    background-color: orange;
    height: 1.4cm;
    width: 5cm;
    overflow: hidden;
    text-align: center;

}

.fa-mobile-alt {
    padding-right: 5px;
}

.icons {

    padding: 10px;
    width: 5cm;
    margin-left: 60%;
    text-align: center;
}

.fa-home {

    color: green;
}

.fa-whatsapp {
    color: green;
}


/* END OF HEADERMAIN */









    /* START NAV BAR */
    
    .practice {
        box-sizing: border-box;
        text-align: center;
        margin: 1cm;
        display: block;

        
    }

    .practice div {
        width: 70px;
        height: 40px;
        padding-top: 10px;
        cursor: pointer;
        text-align: center;
        display: inline-block;
        overflow: hidden;
        transition-property: all, border-radius;
        transition-duration: 3s, 2s;


    }

    .practice div:hover {
        border-radius: 60%;
    }


    .Paella{
        
        background-color: rgb(238, 222, 222);
        transform: scaleX(0.9);
    }
  
    
    .Carta {
        background-color: rgb(238, 222, 222);
        transform: scaleY(0.8);
  
    }
  
    .Nosotros {
        background-color: rgb(238, 222, 222);
        transform: scaleY(0.8);
    }
  
    .Catering {
  
        background-color: rgb(238, 222, 222);
                transform: scaleX(0.9);
    }
  
  
    .Presupuesto {
        background-color: rgb(238, 222, 222);
        transform: scaleY(0.8);
    }
  
  
    .Contacto {
  
        background-color: rgb(238, 222, 222);
                transform: scaleY(0.8);
  
    }
  
    .Galeria {
        background-color: rgb(238, 222, 222);
        transform: scaleX(0.9);
  
    }
  
  
  
  














/* END OF  NAV BAR */











/* PHOTO FIRST BACK  */



#bphoto{

    display: block;
}

#firstback{

    background: linear-gradient(rgb(0,0,0,.1),rgb(0,0,0,.1)),url(imagenes/paella7.jpg) center/cover no-repeat fixed;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}















/* Contacto */

.contact{
    background: chocolate;
}


.pre {
    width: 6cm;
    height: 1cm;
    background: black;
    border-radius: 5%;
    overflow: hidden;
}

.pre:hover {
    border: solid 0.2px grey;
    background-image: linear-gradient(chocolate, rgb(250, 172, 28), rgb(255, 208, 119), rgb(243, 224, 189));
    color: black;
}


/* End of Contacto */



/* Por que elegir */

/* #porque::after { 
    position: relative;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  }
  */



/* End of por que elegir */






     /*FOOTER */

   /* #pie::after { 
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  }

  */
  
     .Ffooter {
        background: rgb(99, 89, 89);  
        color: white; 
       
    }

/* End of footer */
