
* {

    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Inconsolata', monospace;
}


/*
=============== 
Variables
===============
*/



:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  /*
  =============== 
  Global Styles
  ===============
  */


*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  /* background: var(--clr-grey-10); */
   /* color: var(--clr-grey-1); */
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  /* text-transform: capitalize; */
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  /* color: var(--clr-grey-5); */
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */



/* section */

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}


/*
=============== 
Nav
===============
*/


nav {
   
    height: 3rem;
    display: grid;
    align-items: center;
    box-shadow: var(--dark-shadow);
    
  }
  .nav-center {
    width: auto;
    max-width: var(--fixed-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
  }
  .nav-center h4 {
    margin-bottom: 0;
    color: var(--clr-primary-5);
  }
  .nav-links {
    display: flex;
    margin-top: 1rem;
  }
  nav a {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    color: var(--clr-primary-1);
    letter-spacing: var(--spacing);
    margin-right: 1rem;
  }
  nav a:hover {
    color: var(--clr-primary-5);
  }

  .NavNumber{

    border: solid grey;
    background-color: orange;
    width: 5cm;
    overflow: hidden;
    text-align: center;
    color: black;
    font-size: 0.9rem;

}


.fa-home {

    color: green;
}

.fa-whatsapp {
    color: green;
}

/* END OF HEADER */

/* START NAVE BAR */


    .practice {
        box-sizing: border-box;
        text-align: center;
        margin: 1cm;


    }

    .practice div {
        width: 70px;
        height: 40px;
        padding-top: 10px;
        cursor: pointer;
        text-align: center;
        display: inline-block;
        overflow: hidden;
        transition-property: all, border-radius;
        transition-duration: 3s, 2s;


    }

    .practice div:hover {
        border-radius: 60%;
    }

    


    .Paella{
        
        background-color: rgb(238, 222, 222);
        transform: scaleX(0.9);
    }

    
    .Carta {
        background-color: rgb(238, 222, 222);
        transform: scaleY(0.8);

    }

    .Nosotros {
        background-color: rgb(238, 222, 222);
        transform: scaleY(0.8);
    }



    .Presupuesto {
        background-color: rgb(238, 222, 222);
        transform: scaleY(0.8);
    }


    .Contacto {

        background-color: rgb(238, 222, 222);
                transform: scaleY(0.8);

    }

    .Galeria {
        background-color: rgb(238, 222, 222);
        transform: scaleX(0.9);

    }









/* END OF NAV BAR */






/* Temporaly nav bar  */
/*
.nav {
    position: relative;
}

@media (min-width: 992px){
    .nav .container-fluid{
        padding-left:52px;
        padding-right: 52px;
    }
}

.nav .navbar{
    height: 100%;
    padding: 0;
}

.nav .dropdown-menu{
    margin-top:0;
    border:0;
    border-radius:0;
    background: rgb(91, 164, 193);
}


.nav .dropdown-menu a.active{
    color: orchid;
    background: #f8f9fa;
}

.nav .navbar-brand{
    display: none;
}

 
.nav .navbar-dark a.nav-link{
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}


.nav .navbar-dark a.nav-link:hover,
.nav .navbar-dark a.nav-link.active {
    color: #000000;
}
 End of Temporaly nav bar  */




/* BACKGROUND IMAGE GRANDES EVENTOS */
.one {
    
    background-image: url("imagenes/paella1.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0.5cm;
    font-size: 0.6cm;
    min-height: 100vh;
    font-size: 60px;
    color: green;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* END OF BACKGROUND IMAGE GRANDES EVENTOS */




    .espectaculo {

        margin: 0 auto;
        margin-top: 1cm;
        width: 60vw;
        text-align: center;
        background: rgb(97, 115, 78);
        font-style: italic;
        font-size: 29px;
    }





    /* SECTION TEMPORAL */
 
    .temporal {
        display: block;
        margin-bottom: 4cm;
    }


    .ecoimg {

        height: 600px;
        animation: fill 5s 1;
        animation-fill-mode: forwards;
    }


    
    @keyframes fill {

        0% {
            opacity: 0.5;
        }

        25% {
            transform: translateX(100px);
            opacity: 0.25;
        }

        50% {
            transform: translateX(150px);
            opacity: 0.15;
        }

        100% {
            transform: translateX(0px);

        }
    }

    .eco1 p {

        width: 400px;
        height: 400px;
        margin-left: 2cm;
        font-size: large;

    }

    /*  END OF SECTION TEMPORAL */



    /*SERVICIOS*/

   .Serimg{

    height: 300px;
    width: 600px;
    

    }






/* Contacto */

.contacto{
    background: chocolate;
    padding: 0.5cm;
    margin-top: 2cm;
    justify-content: center;
    align-items: center;
    margin: 0.3cm;
}
.pre { 
    width: 4cm;
    height: 1cm;
    background: black;
    border-radius: 5%;
    overflow: hidden;
    margin-left: 2cm;
}

.pre:hover {
    border: solid 0.2px grey;
    background-image: linear-gradient(chocolate, rgb(250, 172, 28), rgb(255, 208, 119), rgb(243, 224, 189));
    
}


/* End of Contacto */




    /*GRID AREA OF SERVICES*/

    .Tempcontainer {

        display: grid;
        justify-content: center;
        height: 80vh;
        width: 70vw;
        margin: 100px auto;
        padding: 0.3cm;
        background: rgb(252, 251, 251);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "one two three"
            
            "four five six";
    }
    .item {
        justify-content: bottom;
        align-items: center;
        text-align: center;
        display: flex;
        margin: 0.5cm;
    }
    .item i {
        font-size: 40px;
    }

    .item-1 {
        background-color: rgb(212, 194, 194);
        grid-area: one;
        border: solid chocolate 1px;
        font-size: 0.4cm;

    }

    .plower {
        text-transform: none;
        
    }


    .item-2 {
        background-color: rgb(212, 194, 194);
        grid-area: two;
        border: solid chocolate 1px;
        font-size: small;
        padding: 5px;
    }

    .item-3 {
        background-color: rgb(212, 194, 194);
        grid-area: three;
        border: solid chocolate 1px;
        text-align: center;
        font-size: small;
        padding: 5px;

    }


     
    .item-4 {
        background-color: rgb(212, 194, 194);
        grid-area: four;
        border: solid chocolate 1px;
        text-align: center;
        font-size: small;
        padding: 5px;
    }

    .item-5 {
        background-color: rgb(212, 194, 194);
        grid-area: five;
        border: solid chocolate 1px;
        text-align: center;
        font-size: small;
        padding: 5px;
    }

    .item-6 {
        background-color: rgb(212, 194, 194);
        grid-area: six;
        border: solid chocolate 1px;
        text-align: center;
        font-size: small;
        padding: 5px;
    }















    /* START OF DUDA */

    .Hola{
    width: 35vw;
    }

    .HHola{
        width: 36vw;
        
    }

    .hola{
        width: 75vw;
    }
    


    /* end OF DUDA */











    /*FOOTER */

    .Ffooter {
        background: rgb(99, 89, 89);  
        color: white; 
       
    }

/* End of footer */


